.footer-container {
  color: #4B5C68;
  background-color: #F6F7F7;
  height: 40px;
  padding: 0px 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 22px;
}

.api-version {
  font-size: 14px;
  font-weight: 600;
}
