<div class="header-container">
    <div class="logo">
        <img src="assets/images/logo.svg" alt="Logo">
    </div>
    <div class="links">
        <div>
            <a routerLink="/schedule">
                <img src="assets/images/schedule.png" alt="Schedule icon">
                Schedule
            </a>
        </div>
        <div>
            <a routerLink="/leaderboard">
                <img src="assets/images/leaderboard.png" alt="Leaderboard icon">
                Leaderboard
            </a>
        </div>
    </div>
</div>

