.header-container {
  color: #4b5c68;
  background-color: #025FEB;
  height: 60px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.logo {
  img {
    width: 110px;
    height: 40px;
  }
}

.links {
  display: flex;
  gap: 40px;

  a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 300;

    img {
      width: 25px;
      height: 25px;
    }
  }
}