<div class="leaderboard-container">
  <h2>League Standings</h2>
  <table>
    <thead>
      <tr>
        <th class="team-column">Team</th>
        <th class="matches-played-column">MP</th>
        <th class="goals-for-column">GF</th>
        <th class="goals-against-column">GA</th>
        <th class="goal-difference-column">GD</th>
        <th class="points-column">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of leaderboard">
        <td class="team-column">
          <img [src]="team.teamFlag" [alt]="team.teamName + ' flag'" class="team-flag">
          {{ team.teamName }}
        </td>
        <td class="matches-played-column">{{ team.matchesPlayed }}</td>
        <td class="goals-for-column">{{ team.goalsFor }}</td>
        <td class="goals-against-column">{{ team.goalsAgainst }}</td>
        <td class="goal-difference-column">{{ team.goalDifference }}</td>
        <td class="points-column">{{ team.points }}</td>
      </tr>
    </tbody>
  </table>
</div>

